body {
  align-items: center;
  display: flex;
  flex-direction: column;
}

p,
.flag-demo,
.flag-search,
.title {
  text-align: center;
}

.flag-demo {
  background: #666;
  border-radius: 0.3em;
  color: #fff;
  margin: 0.5em 25%;
  padding: 0.5em 0;
}

.flag-search {
  margin-bottom: 1em;
}

.flag-search input {
  border-radius: 0.3em;
  padding: 0.5em;
  width: 300px;
}

.flag-list {
  border: 1px solid #ccc;
  border-radius: 0.3em;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.flag-list p {
  align-self: center;
}

.country {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.country:nth-child(odd) {
  background: #ccc;
}

.country .lg,
.country .sm {
  padding: 0.5em;
  width: 10%;
}

.country .name {
  width: 40%;
}

.country .code {
  font-weight: bold;
  width: 30%;
}

.country.header .name,
.country.header .code {
  cursor: pointer;
  text-decoration: underline;
}

.country.header .name:hover,
.country.header .code:hover {
  color: blue;
}

.header {
  font-weight: bold;
}
